/* Esse é um arquivo CSS para normalizar o seu site em todos os navegadores, como se fosse uma configuração padrão */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
  
  -webkit-font-smoothing: antialised;
  -moz-osx-font-smoothing: grayscale;

}
html {
  /* line-height: 1.15; */
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  background-color: var(--cor-branco);
  scroll-behavior: smooth;
}

body {
  margin: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background-color: var(--cor-branco);
  scroll-behavior: smooth;
  font-family:"Montserrat", sans-serif;
  /* cursor:url("../../images/home/Layer_2curso-image.png"), auto; */
}
::selection {
  color: var(--cor-branco);
  background-color: var(--cor-azul-escuro);
}
a,
img,
svg,
button {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -khtml-user-select: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-text-size-adjust: none;
  -webkit-touch-callout: none;
  -o-user-select: none;
}
a {
  background-color: transparent;
  cursor: pointer;
}
img {
  border-style: none;
}
button {
  font-family: inherit;
  line-height: 1;
  margin: 0;
  -moz-appearance: none !important;
  -webkit-appearance: button;
  text-transform: none;
  overflow: visible;
  cursor: pointer;
}
button * {
  pointer-events: none;
}
input {
  font-family: inherit;
  line-height: 1;
  -moz-appearance: none !important;
  overflow: visible;
}
textarea {
  font-family: inherit;
  line-height: 1;
  -moz-appearance: none !important;
  overflow: auto;
}
[type="button"] {
  -webkit-appearance: button;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner {
  border-style: none;
}
[hidden] {
  display: none;
  opacity: 0;
  visibility: hidden;
}

/* AJUSTE SCROLLBAR */

body {
  --sb-track-color: #232E33;
  --sb-thumb-color: #333333;
  --sb-size: 14px;
}

body::-webkit-scrollbar {
  width: var(--sb-size)
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 0;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 10px;
  
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color)
                     var(--sb-track-color);
  }
}