section:nth-of-type(11) {
  background-image: url("../../../../images/home/banner cv web sem foto sem logos.png");
  height: auto;
}
.container-complementares {
  width: 100%;
  margin: 0 auto;
  padding:8% 0;
}
section .container-complementares .title {
  width:80%;
  margin: 0 auto;
  font-size:2.5vw;
  font-weight:bold;
  color:#FFFFFF;
}
section .container-complementares .paragraph{
  width:80%;
  margin: 5% auto 0;
  font-size:2.5vw;
  color: #FFFFFF;
}
.slide {
  overflow: hidden;
  white-space: nowrap;
  padding:50px 0;
  background-color:rgba(176, 190, 197, 0.59);
}
.logo-slide {
  display: inline-block;
  animation: 25s slide infinite linear;
  /* margin-left: -300px; */
  padding-right:5vw;
}
.logo-slide.secondary {
  margin-left:5%;
}

.logo-slide span {
  font-family: "Roboto", sans-serif;
  font-size: clamp(3.5rem, 2.5vw, 5rem); 
  margin-right: 3rem;
  color:#FFFFFF;
}
.logo-slide span img{
  width:1.5%;
}
.logo-slide span.mongo img{
  width:4%;
}

.slide:hover .logo-slide {
  animation-play-state: paused;
}
@media screen and (max-width: 1100px) {
  
  section .container-complementares .title, section .container-complementares .paragraph{
    font-size:4.5vw; 
  }
  section .container-complementares .paragraph{
    line-height:8vw;
  }

  .border-bottom{
    margin-bottom:3rem;
  }

}
