section:nth-of-type(5) {
  background-image: url("../../../../images/home/banner cv web sem foto sem logos.png");
  height: auto;
  background-color: #424242;
}
#experiencia .container-experiences {
    width:100%;
    margin:0 2%;
    min-height:300px;
    gap:10px;
    padding-bottom:5%;
}

#experiencia .container-experiences .title{
  font-size:2.5vw;
  /* font-family: "Open-Sans", sans-serif; */
  font-weight:bold;
  padding-top:4%;
}
#experiencia .container-experiences .paragraph {
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 2.5vw;
  padding-top: 1.5rem;
  width: 80%;
  max-width: 200rem;
  margin: 0 auto;
  line-height: 4vw;
  color: #ffffff;
  /* border-bottom: 1px solid #ffffff; */
  padding-bottom: 1rem;
}
@media screen and (min-width: 1600px){
  #experiencia .container-experiences .card{
  }
}
@media screen and (max-width: 1100px) {
  #experiencia .container-experiences .title{
    font-size:4.5vw;
  }
  #experiencia .container-experiences .paragraph{
    font-size:4.5vw;
    line-height:8vw;
  }
  .card{
    min-width:420px;
    gap:0;
    
  }
 
}
