.container-header {
  top: 8%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  /* border: 2px solid rgba(128, 128, 128, 0.326); */
  text-transform: uppercase;
}
.material-symbols-outlined {
  color: #ffffff;
  font-size: clamp(4.5rem, 1vw, 3.5rem);
}
.nav {
  position: fixed;
  top: 10rem;
  padding: 5rem;
  z-index: 10;
  display: none;

}
.closer{
  color: #fff;
  position: absolute;
  top: 7rem;
  right:9rem;
  z-index:10;
  font-size:3rem;
  font-family:"Open sans", sans-serif;
}
.nav ul {
  background-color: #111;
  border: 1px solid #fff;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  max-width: 25rem;
  padding: 5rem;
  border-radius: 15px;
  position:relative;
}
.nav ul li a {
  list-style: none;
  font-family: "Roboto", sans-serif;
  font-size: clamp(1.5rem, 1vw, 3.5rem);
  font-weight: 400;
  color: #f1f1f1;
  text-decoration: none;
  
  /* border-bottom: 1px solid #fff;
  padding-bottom:1.5rem; */
  color: #fff;
}
.button-header {
  width: 15.8rem;
  padding: 1.4rem;
  border-radius: 30px;
  background-color: #b0bec5;
  outline: none;
  border: none;
  font-family: "Roboto", sans-serif;
  font-size: clamp(1.5rem, 2.5vw, 1.5rem);
  margin-left: 80%;
}
.button-header a {
  color: #fff;
}
@media screen and (max-width: 1000px) {
  .button-header {
    margin-left: 8rem;
  }
}
