section:nth-of-type(1) {
  background-image: url("../../../../images/home/banner cv web sem foto sem logos.png");
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#home .title {
  display: flex;
  color: #fff;
  height: auto;
  width: 80%;
  margin: auto;
}
#home .title h1 {
  width: 100%;
  font-family: "Roboto", sans-serif;
  font-size: 9vw;
  font-weight: 800;
  line-height:9vw;
  margin: 0;
  position:relative;
  animation: disolved 1s ease-in-out;
  animation-timeline: view();
  animation-range:cover 50% cover 100%;

}
.text-circular {
  position:absolute;
  left: 60%;
  animation: disolved 1s ease-in-out;
  animation-timeline: view();
  animation-range:cover 80% cover 100%;
}
.text-circular img{
  width:135%;
  animation: rodando 20s linear infinite;

}
@media screen and (min-width: 1600px){
  .text-circular img{
    width:202%;
  }
}
@media screen and (max-width: 1100px) {
 .text-circular img{
  width:100%;
  margin-left: -24%;
 }
 #home .title{
  width:80%;
  /* margin-bottom:40%; */
 }
 #home .title h1{
  font-size:15vw;
  line-height:13vw;
 }
}

@keyframes disolved{
  from{
    opacity:1;
  }
  to{
    opacity:0;
    
  }
}