section:nth-of-type(1) {
  background-image: url("../../../../images/home/banner cv web sem foto sem logos.png");
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

section .title {
  display: flex;
  color: #fff;
  height: auto;
  width: 80%;
  margin: auto;
}
section .title h1 {
  width: 100%;
  font-family: "Roboto", sans-serif;
  font-size: 9vw;
  font-weight: 800;
  line-height:9vw;
  margin: 0;
  position:relative;
}
.text-circular {
  position:absolute;
  left: 60%;
  
}
.text-circular img{
  width:135%;
  animation: rodando 20s linear infinite;
}
@media screen and (min-width: 1600px){
  .text-circular img{
    width:202%;
}
@media screen and (max-width: 1000px) {
  .text-circular{
    left:13rem;
    top:23rem
  }
}